.textoParagrafo{
    font-size: 16px;
    color: rgb(17, 15, 15);
    font-family: 'Courier New', Courier, monospace;
}

.sobrescrito{
    text-decoration: underline;
}

.riscado{
    text-decoration: line-through;
}

#tituloPrincipal{
    color: rgb(204, 0, 255);
}

.negrito{
    font-weight: bold;
}

.italico{
    font-style: italic;
}