p{
    color: blue;
}

.alinhamentoDireita{
    text-align: right;
}

.centralizar{
    text-align: center;
}

a{
    text-decoration: none;
}

a:hover {
    color: chartreuse;
    background-color: black;
}