/* h1{
    background-color: cadetblue;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    border: 10px black solid;
    margin: auto;
}

button{
    padding: 20px 40px;
    font-size: 25px;
    border: none;
    background-color: darkslateblue;
    color: antiquewhite;
    border-radius: 3px;
    box-shadow: 3px 3px 3px rgba(172, 255, 47, 0.507);
    margin: 30px;
} */
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.login{
    background-color: goldenrod;
    width: fit-content;
    height: 320px;
    margin: 300px auto;
    padding: 30px;
    border-radius: 8px;
    border: 10px solid rgb(131, 1, 1);
    text-align: center;
}

.login div{
    padding: 30px 0;
    
}

.login div input{
    font-size: 18px;
    padding: 10px 5px;
    border: none;
    border-radius: 5px;
}

.login p{
    text-align: right;
    color: rgb(131, 1, 1);
    font-size: 15px;
}

button{
    color: rgb(131, 1, 1);
    background-color: rgb(252, 234, 190);
    border-radius: 3px;
    border: 2px solid rgb(131, 1, 1);
    box-shadow: 1px 1px 1px rgb(131, 1, 1);
    margin-top: 30px;
    padding: 10px 15px;
    font-size: 16px;

}